In [12]:
from pandas import read_csv
from pandas import crosstab

cps = read_csv("../data/CPSData.csv")

# Display the first five rows
cps.head()

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
0,1,South,Alabama,26620.0,85,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Retired,NaN
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services
2,3,South,Alabama,13820.0,37,Never Married,Female,High school,Black,0,57,"Citizen, Native",Disabled,NaN
3,3,South,Alabama,13820.0,18,Never Married,Male,No high school diploma,Black,0,57,"Citizen, Native",Not in Labor Force,NaN
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services

In [13]:
# Df metadata
cps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131302 entries, 0 to 131301
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PeopleInHousehold   131302 non-null  int64
 1   Region              131302 non-null  object
 2   State               131302 non-null  object
 3   MetroAreaCode       97064 non-null   float64
 4   Age                 131302 non-null  int64
 5   Married             105964 non-null  object
 6   Sex                 131302 non-null  object
 7   Education           105964 non-null  object
 8   Race                131302 non-null  object
 9   Hispanic            131302 non-null  int64
 10  CountryOfBirthCode  131302 non-null  int64
 11  Citizenship         131302 non-null  object
 12  EmploymentStatus    105513 non-null  object
 13  Industry            66242 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 14.0+ MB

In [14]:
# Number of unique values for each column 
cps.nunique()

PeopleInHousehold      15
Region                  4
State                  51
MetroAreaCode         264
Age                    82
Married                 5
Sex                     2
Education               8
Race                    6
Hispanic                2
CountryOfBirthCode    161
Citizenship             3
EmploymentStatus        5
Industry               14
dtype: int64

In [20]:
# Gender
cps.Sex.value_counts()

Female    67481
Male      63821
Name: Sex, dtype: int64

In [21]:
# Race distribution
cps.Race.value_counts()

White               105921
Black                13913
Asian                 6520
Multiracial           2897
American Indian       1433
Pacific Islander       618
Name: Race, dtype: int64

In [16]:
# Employment status distribution 
cps.EmploymentStatus.value_counts()

Employed              61733
Retired               18619
Not in Labor Force    15246
Disabled               5712
Unemployed             4203
Name: EmploymentStatus, dtype: int64

In [18]:
# EmploymentStatus distribution among the various races
crosstab(cps['Race'], columns=cps['EmploymentStatus'])

EmploymentStatus  Disabled  Employed  Not in Labor Force  Retired  Unemployed
Race
American Indian         85       535                 231      128          83
Asian                  123      3206                1091      682         165
Black                 1079      5552                1834     1524         806
Multiracial            103       920                 393      161          97
Pacific Islander        27       270                 100       39          26
White                 4295     51250               11597    16085        3026

In [19]:
# EmploymentStatus distribution across genders
crosstab(cps['Sex'], columns=cps['EmploymentStatus'])

EmploymentStatus  Disabled  Employed  Not in Labor Force  Retired  Unemployed
Sex
Female                3007     29614                9910    10715        1966
Male                  2705     32119                5336     7904        2237

In [22]:
# Proportion of females currently employed
29614/67481

0.4388494539203628

In [23]:
# Proportion of females currently unemployed
1966/67481

0.02913412664305508

In [24]:
# Proportion of whites employed 
51250/105921

0.4838511720999613

In [25]:
# Proportion of whites unemployed
3026/105921

0.028568461400477713

In [26]:
# Proportion of blacks employed
5552/13913

0.399051247035147

In [27]:
# Proportion of blacks unemployed
806/13913

0.057931431035721986

In [ ]:
# Proportion of