In [1]:
#knn algorithm

#SCIPY TEST CODE:
import numpy as np
import pandas as pd
#from sklearn import preprocessing,cross_validation,neighbors
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors

In [2]:
df = pd.read_csv('../knn_algorithm/knn_sample_data/breast-cancer-wisconsin.data.txt')

In [3]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
df["bare_nuclei"].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [5]:
df["class"].unique()

array([2, 4], dtype=int64)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      699 non-null    int64
 1   clump_thickness         699 non-null    int64
 2   unif_cell_size          699 non-null    int64
 3   unif_cell_shape         699 non-null    int64
 4   marg_adhesion           699 non-null    int64
 5   single_epith_cell_size  699 non-null    int64
 6   bare_nuclei             699 non-null    object
 7   bland_chrom             699 non-null    int64
 8   norm_nucleoli           699 non-null    int64
 9   mitoses                 699 non-null    int64
 10  class                   699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 57.4+ KB

In [7]:
df.bare_nuclei.drop_duplicates()

0      1
1     10
2      2
3      4
12     3
14     9
21     7
23     ?
32     5
49     8
56     6
Name: bare_nuclei, dtype: object

In [8]:
#prints out all unique values of all cells
for i in df:
    print("################")
    print("cell:",i)
    
    print(df[i].drop_duplicates())

################
cell: id
0      1000025
1      1002945
2      1015425
3      1016277
4      1017023
        ...
693     763235
694     776715
695     841769
696     888820
697     897471
Name: id, Length: 645, dtype: int64
################
cell: clump_thickness
0      5
2      3
3      6
4      4
5      8
6      1
7      2
15     7
18    10
50     9
Name: clump_thickness, dtype: int64
################
cell: unif_cell_size
0       1
1       4
3       8
5      10
9       2
12      3
14      7
21      5
40      6
159     9
Name: unif_cell_size, dtype: int64
################
cell: unif_cell_shape
0      1
1      4
3      8
5     10
7      2
12     3
14     5
15     6
18     7
98     9
Name: unif_cell_shape, dtype: int64
################
cell: marg_adhesion
0       1
1       5
4       3
5       8
14     10
15      4
18      6
33      2
38      9
124     7
Name: marg_adhesion, dtype: int64
################
cell: single_epith_cell_size
0       2
1       7
3       3
10      1
15      6
18      4
20      5
32      8
43     10
124     9
Name: single_epith_cell_size, dtype: int64
################
cell: bare_nuclei
0      1
1     10
2      2
3      4
12     3
14     9
21     7
23     ?
32     5
49     8
56     6
Name: bare_nuclei, dtype: object
################
cell: bland_chrom
0       3
5       9
8       1
9       2
12      4
14      5
21      7
36      8
41      6
173    10
Name: bland_chrom, dtype: int64
################
cell: norm_nucleoli
0      1
1      2
3      7
12     4
14     5
15     3
21    10
25     6
36     9
40     8
Name: norm_nucleoli, dtype: int64
################
cell: mitoses
0       1
8       5
14      4
18      2
32      3
53      7
65     10
68      8
159     6
Name: mitoses, dtype: int64
################
cell: class
0    2
5    4
Name: class, dtype: int64

In [9]:
#SCIPY TEST CODE:

df.replace('?',-99999,inplace=True)

In [10]:
df["bare_nuclei"].unique()

array(['1', '10', '2', '4', '3', '9', '7', -99999, '5', '8', '6'],
      dtype=object)

In [11]:
#SCIPY TEST CODE:
df.drop(['id'],1,inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   clump_thickness         699 non-null    int64
 1   unif_cell_size          699 non-null    int64
 2   unif_cell_shape         699 non-null    int64
 3   marg_adhesion           699 non-null    int64
 4   single_epith_cell_size  699 non-null    int64
 5   bare_nuclei             699 non-null    object
 6   bland_chrom             699 non-null    int64
 7   norm_nucleoli           699 non-null    int64
 8   mitoses                 699 non-null    int64
 9   class                   699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 51.9+ KB

In [13]:
#SCIPY TEST CODE
new_row = df.drop(['class'],1)
new_row

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [14]:
new_row.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   clump_thickness         699 non-null    int64
 1   unif_cell_size          699 non-null    int64
 2   unif_cell_shape         699 non-null    int64
 3   marg_adhesion           699 non-null    int64
 4   single_epith_cell_size  699 non-null    int64
 5   bare_nuclei             699 non-null    object
 6   bland_chrom             699 non-null    int64
 7   norm_nucleoli           699 non-null    int64
 8   mitoses                 699 non-null    int64
dtypes: int64(8), object(1)
memory usage: 46.5+ KB

In [15]:
#SCIPY TEST CODE
X = np.array(df.drop(['class'],1))
X

array([[5, 1, 1, ..., 3, 1, 1],
       [5, 4, 4, ..., 3, 2, 1],
       [3, 1, 1, ..., 3, 1, 1],
       ...,
       [5, 10, 10, ..., 8, 10, 2],
       [4, 8, 6, ..., 10, 6, 1],
       [4, 8, 8, ..., 10, 4, 1]], dtype=object)

In [16]:
#SCIPY TEST CODE
y = np.array(df['class'])
y

array([2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2, 2, 4, 2, 4, 4,
       2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 4,
       4, 2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 2, 4,
       2, 4, 4, 2, 2, 4, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4,
       2, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 4, 4, 2,
       2, 4, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 4, 4,
       2, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 4, 4, 2, 4, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 4, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 4, 2, 4, 4, 4, 2, 2, 4, 2,
       2, 4, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4, 2, 4, 2, 2, 4, 4, 4, 4, 2, 2,
       2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2, 2, 4, 4, 4, 4,
       4, 2, 4, 4, 4, 2, 4, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 4, 4,
       4, 2, 4, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 4, 2, 2,
       4, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 4, 2, 2, 4, 2, 2, 4, 2, 4, 4,
       4, 2, 2, 4, 4, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2,
       2, 4, 2, 2, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2,
       2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2, 2,
       2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4,
       2, 2, 2, 4, 4, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 2,
       2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 4, 4,
       2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 4, 2, 4, 4, 4, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 4, 4], dtype=int64)

In [17]:
df['class']

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: class, Length: 699, dtype: int64

In [18]:
#SCIPY TEST CODE

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
X_train

array([[5, 3, 6, ..., 1, 1, 1],
       [10, 6, 6, ..., 9, 7, 1],
       [4, 4, 4, ..., 7, 3, 1],
       ...,
       [10, 7, 7, ..., 7, 4, 3],
       [10, 3, 3, ..., 7, 3, 3],
       [4, 1, 1, ..., 3, 1, 1]], dtype=object)

In [20]:
X_test

array([[5, 1, 1, ..., 3, 1, 1],
       [8, 4, 6, ..., 4, 3, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [10, 10, 8, ..., 8, 10, 1],
       [5, 1, 1, ..., 2, 2, 1],
       [4, 1, 1, ..., 3, 2, 1]], dtype=object)

In [21]:
len(X_test)

140

In [22]:
len(X_train)

559

In [23]:
percent = len(X_test) / len(X_train)
percent

0.2504472271914132

In [24]:
y_train

array([2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 4, 4, 2, 4, 4, 4, 2, 4, 2, 2, 2, 2,
       2, 2, 2, 4, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 2,
       4, 4, 2, 2, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 2,
       4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4,
       2, 4, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4,
       2, 2, 2, 2, 4, 4, 4, 4, 4, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 4, 2,
       2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 4, 4, 2, 4, 4, 2, 2, 2, 2,
       2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 4, 4, 2, 4, 2, 2, 2, 2,
       4, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 2, 2, 2, 4, 4, 4, 4, 2,
       4, 2, 2, 2, 4, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2,
       2, 4, 4, 2, 4, 4, 4, 2, 4, 4, 2, 4, 2, 2, 4, 2, 4, 4, 2, 2, 4, 2,
       2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2,
       4, 2, 2, 2, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2,
       2, 2, 2, 4, 4, 4, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 4, 2, 2, 4, 2,
       4, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2,
       4, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4,
       4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 4, 4, 2, 4, 2, 4, 2, 4, 4, 2, 4, 2,
       2, 4, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2,
       4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 4, 4, 2, 4, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2,
       2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 2, 4, 4, 2, 2, 4, 2, 2, 4, 4, 2,
       2, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 4, 4, 2, 2, 2, 2, 2, 2, 2, 4, 4,
       2, 4, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 4, 2, 4, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 4, 2, 2, 2, 2, 4, 4, 2], dtype=int64)

In [25]:
y_test

array([2, 2, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4,
       4, 2, 2, 2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 4, 2, 2, 2, 2, 4, 4, 4, 4,
       2, 2, 2, 4, 4, 2, 4, 4, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 4, 2, 2, 2, 4, 2, 4, 2, 4, 2, 4,
       4, 4, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2,
       2, 2, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 4, 4, 2, 2, 2, 2, 2, 2, 4, 2,
       2, 2, 2, 2, 2, 4, 2, 2], dtype=int64)

In [26]:
len(y_train)

559

In [27]:
len(y_test)

140

In [28]:
y_percent = len(y_test) / len(y_train)
y_percent

0.2504472271914132

In [29]:
#SCIPY TEST CODE

clf = neighbors.KNeighborsClassifier()

In [30]:
clf

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [31]:
clf.leaf_size

30

In [32]:
type(clf)

sklearn.neighbors._classification.KNeighborsClassifier

In [33]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_algorithm_metric',
 '_estimator_type',
 '_fit',
 '_get_param_names',
 '_get_tags',
 '_kneighbors_reduce_func',
 '_more_tags',
 '_pairwise',
 'algorithm',
 'fit',
 'get_params',
 'kneighbors',
 'kneighbors_graph',
 'leaf_size',
 'metric',
 'metric_params',
 'n_jobs',
 'n_neighbors',
 'p',
 'predict',
 'predict_proba',
 'radius',
 'score',
 'set_params',
 'weights']

In [34]:
dir(clf.fit)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__func__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [35]:
import inspect
inspect.getfullargspec(clf.fit)

FullArgSpec(args=['self', 'X', 'y'], varargs=None, varkw=None, defaults=None, kwonlyargs=[], kwonlydefaults=None, annotations={})

In [36]:
#SCIPY TEST CODE

clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [37]:
inspect.getfullargspec(clf.score)

FullArgSpec(args=['self', 'X', 'y', 'sample_weight'], varargs=None, varkw=None, defaults=(None,), kwonlyargs=[], kwonlydefaults=None, annotations={})

In [38]:
#SCIPY TEST CODE
accuracy = clf.score(X_test,y_test)
accuracy

0.9785714285714285

In [39]:
#SCIPY TEST CODE

example_measures = np.array([4,2,1,1,1,2,3,2,1])
example_measures

array([4, 2, 1, 1, 1, 2, 3, 2, 1])

In [40]:
#SCIPY TEST CODE
example_measures = example_measures.reshape(1,-1)
example_measures

array([[4, 2, 1, 1, 1, 2, 3, 2, 1]])

In [41]:
dir(getattr)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [42]:
#SCIPY TEST CODE
prediction = clf.predict(example_measures)
prediction

array([2], dtype=int64)

In [43]:
inspect.getfullargspec(clf.predict)

FullArgSpec(args=['self', 'X'], varargs=None, varkw=None, defaults=None, kwonlyargs=[], kwonlydefaults=None, annotations={})