In [67]:
import pandas as p
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [59]:
cps = p.read_csv("../data/CPSData.csv")

In [60]:
vec = DictVectorizer()

In [61]:
cps.Education.value_counts()

High school                30906
Bachelor's degree          19443
Some college, no degree    18863
No high school diploma     16095
Associate degree            9913
Master's degree             7816
Doctorate degree            1516
Professional degree         1412
Name: Education, dtype: int64

In [62]:
# Drop na
#cps = cps[cps["Education"].notna()]

#Declare an ordering. This might need some tweaking.
cat = p.Categorical(cps.Education, 
                     categories=["missing", "No high school diploma", "High school", "Some college, no degree",
                                 "Professional degree", "Associate degree", "Bachelor's degree", "Master's degree", 
                                 "Doctorate degree"], 
                     ordered=True)

In [63]:
# Fill missing values
cat.fillna("missing")

[Associate degree, High school, High school, No high school diploma, Associate degree, ..., No high school diploma, High school, Bachelor's degree, Associate degree, missing]
Length: 131302
Categories (9, object): [missing < No high school diploma < High school < Some college, no degree ... Associate degree < Bachelor's degree < Master's degree < Doctorate degree]

In [74]:
# Label rows
labels, unique = p.factorize(cat, sort=True)
# Assign labels Note! Here, we assume that missing values are the least education. However, they may very well be unlabed for other reasons as well.
cps.Education = labels
cps.Education.value_counts()
cps.Education

0         4
1         1
2         1
3         0
4         4
         ..
131297    0
131298    1
131299    5
131300    4
131301   -1
Name: Education, Length: 131302, dtype: int64

In [72]:
ohencoder = OneHotEncoder(dtype=np.int, sparse=True)

nominals = p.DataFrame(
    ohencoder.fit_transform(cps[['Sex', 'Region']])\
    .toarray(),
    columns=['Male', 'Female', 'South', 'Midwest','Northeast', 'East'])
#cps.head()
nominals

        Male  Female  South  Midwest  Northeast  East
0          1       0      0        0          1     0
1          0       1      0        0          1     0
2          1       0      0        0          1     0
3          0       1      0        0          1     0
4          1       0      0        0          1     0
...      ...     ...    ...      ...        ...   ...
131297     0       1      0        0          0     1
131298     0       1      0        0          0     1
131299     0       1      0        0          0     1
131300     1       0      0        0          0     1
131301     1       0      0        0          0     1

[131302 rows x 6 columns]

In [39]:

#encoder = OrdinalEncoder(categories=[No high school diploma", "High school", "Some college, no degree", "Professional degree", "Associate degree", "Bachelor's degree", "Master's degree", "Doctorate degree"])
#cps.Education = encoder.fit_transform(cps.Education.values.reshape(-1, 1))

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).